<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>Add User</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">User Entry</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eaque ea inventore aliquid dolor ipsum eveniet blanditiis? Minima sequi corporis porro doloribus. Ut architecto esse deleniti eum nulla optio soluta.</p>
            <hr class="my-4">
            <p>Please add yourself to our user list by filling out the form below!</p>
        </div>
    </div>

    <div class="container">
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>